<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <th>Sl.No.</th>
                <th>Details</th>
                <th></th>
                <th></th>
                <th>Change Summary</th>
                <th>Evidence</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Academic Year</td>
                <td>2018-2019</td>
                <td>2019-2020</td>
               
            </tr>
            <tr>
                <td>2</td>
                <td>course Code</td>
               <td> <!--add previous years code code--></td>
               <td> <!--add current years code code--></td>
               <td> <!--allow user to enter change summary--></td>
               <td> <!--allow user to enter evidence--></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Credits L-T-P</td>
               <td> <!--add previous years L-T-P--></td>
               <td> <!--add current years L-T-P--></td>
               <td> <!--allow user to enter change summary--></td>
               <td> <!--allow user to enter evidence--></td>
            </tr>
            <tr>
                <td>4</td>
                <td>CO's</td>
               <td> <!--add previous years CO's--></td>
               <td> <!--add current years CO's--></td>
               <td> <!--allow user to enter change summary--></td>
               <td> <!--allow user to enter evidence--></td>
            </tr>
            <tr>
                <td>5</td>
                <td>CO-PO mapping</td>
               <td> <!--add previous years CO-PO Mapping--></td>
               <td> <!--add current years CO-PO Mapping--></td>
               <td> <!--allow user to enter change summary--></td>
               <td> <!--allow user to enter evidence--></td>
            </tr>
            <tr>
                <td>6</td>
                <td>Course Content</td>
               <td> <!--add previous years topic_names in 1,2,3... numbering--></td>
               <td> <!--add current years  topic_names in 1,2,3... numbering--></td>
               <td> <!--allow user to enter change summary--></td>
               <td> <!--allow user to enter evidence--></td>
            </tr>
            <td>7</td>
            <td>Course activity/Tutorials</td>
           <td> <!--add previous years activity in prefixed with dots--></td>
           <td> <!--add current years  activity in prefixed with dots--></td>
           <td> <!--allow user to enter change summary--></td>
           <td> <!--allow user to enter evidence--></td>
        </tr>
    </tr>
    <td>8</td>
    <td>Rubrics/assessment</td>
   <td> <!--add previous years rubrics in prefixed with dots--></td>
   <td> <!--add current years  rubrics in prefixed with dots--></td>
   <td> <!--allow user to enter change summary--></td>
   <td> <!--allow user to enter evidence--></td>
</tr>
</tr>
<td>9</td>
<td>Course delivery</td>
<td> <!--add previous years delivery in prefixed with dots--></td>
<td> <!--add current years  delivery in prefixed with dotsg--></td>
<td> <!--allow user to enter change summary--></td>
<td> <!--allow user to enter evidence--></td>
</tr>
 
     
             
        </table>
    </div> 
</body>
</html>




the format should be like , let the co number , say 3
so the table format should be like
<table>
    <tr>
        <td>CO's/PO's</td>
        <td>1</td>
        <td>2</td
            <!--upto 14 PO's>
    </tr>
    <tr>
        <td> 1.</td>
        <td>only the columns with values should be displayed</td>
        </tr>
        <tr>
            <td> 2.</td>
            <td>only the columns with values should be displayed</td>
            </tr>
            <tr>
                <td> 3.</td>
                <td>only the columns with values should be displayed</td>
                </tr>
</table>


3 rows because co number=3.



suppose there are 3 cos,
